<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon"
          href="https://cdn1.iconfinder.com/data/icons/learning-and-entertainment-flat-icons/512/note.png">

    <title>Login</title>
</head>
<body class="container" style="background-color: forestgreen">

<section class="row " style="height: 100vh">

    <div class="col-10 col-md-8 col-lg-5 align-self-center mx-auto p-4 shadow-lg rounded-lg" style="background-color: whitesmoke">
        <form th:action="@{/login}" method="post">
            <div class="text-center h2 py-2" style="color: forestgreen">Sign In</div>
            <div class="alert alert-danger" role="alert"
                 th:if="${param.error}">
                password or login invalid, try again
            </div>
            <div class="alert alert-success" role="alert"
                 th:if="${param.logout}">
                You have been logged out
            </div>
            <div class="form-group">
                <label>Login</label>
                <input placeholder="username" name="username" type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group">
                <label  >Password</label>
                <input placeholder="password" name="password" type="password" class="form-control" id="password" required>
            </div>
            <div class="row mx-2 justify-content-center">
                <div class="col-12 mb-3 text-center">
                    or <a href="/registration" class="text-decoration-none">Sign Up</a>
                </div>
                <button type="submit" class="col-6 py-1 btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</section>


</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</html>